*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: lightgray;
}
nav{
  background-color: #fff;
  width: 100%;
  height: 100px;
}
ul {

}
ul li{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}
ul li a {
  display: block;
  font-size: 14px;
  font-family: arial;
  color: #1e1e1e;
  padding: 0 20px;
}

ul li a:hover {
  color: red;
}
h1 {
  font-size: 20px;
  color: red;
  text-align: left;
}
p {
  color: blue;
  font-style: oblique;
}
th, td {
  border: 1px solid blue;
  padding: 5px;
}
th{
  background-color: lightgray;
}
table {
  border: 1px solid blue;
  border-collapse: collapse;
  text-align: left;
  width: 20%;
}
.container{
  width: 1000px
  height: 700px
  margin: auto;
}
